.slick-slider{
  width: 100%;
}
.slick-slider .slick-track .slide_item {
  width: 100%;
  position: relative;
  border-radius: 50px;
  background-color: #f3ebcb;
}
.slick-slider .slick-track .ALBINO {
  border: 4px solid transparent;
  background-image: linear-gradient(#f3ebcb, #f3ebcb), 
  linear-gradient(135deg,#ff5101 0%, rgba(250,255,27,1) 50%, #ff5101 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.slick-slider .slick-track .ALBINO::before{
  content: "ALBINO";
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 25px;
  left: 25px;
  width: 90px;
  height: 30px;
  border-radius: 25px;
  color: #f3ebcb;
  background-color: #ff5101;
  font-size: 18px;
  font-weight: bold;
}

.slide_image{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.slick-dots{
  bottom: 30px;
}

.slick-dots li{
  width: 10px;
  height: 10px;
}

.slick-dots li.slick-active button:before {
  color: #ff5101;
}

